@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700;800&family=Poppins:wght@600;700&display=swap");

* {
  font-family: "Mulish", sans-serif;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Site name section styles */
.header-container {
  margin: 30px auto;
  display: flex;
  align-items: center;
  max-width: 1440px;
}
.icon {
  color: #ff5400;
  font-size: 2.65rem;
  display: flex;
}
.site-name {
  color: #131318;
  font-size: 2.25rem;
  font-weight: 800;
}
#wander {
  color: #ff5400;
}
/* End website name section */

/* banner section styles */

.banner-container {
  margin-top: 50px;
  position: relative;
  text-align: center;
}
.banner-container img {
  max-width: 1170px;
  height: auto;
  border-radius: 1rem;
  background: linear-gradient(
    180deg,
    rgba(19, 19, 24, 0.8) 0%,
    rgba(19, 19, 24, 0) 100%
  );
}
.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner-title {
  margin-top: 20px;
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
}
.banner-des {
  margin-top: 25px;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 60px;
}
.input-field {
  border-radius: 8px;
  display: flex;
}

.input-field,
.input-info,
.btn-primary {
  padding: 16px 16px;
  border: none;
  border-radius: 8px;
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  margin-left: 25px;
}
.btn-primary {
  background-color: #ff5400;
  color: #fff;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}
#btn-icon {
  width: 26px;
  height: 26px;
  font-size: 1rem;
  margin-left: 8px;
}
/* End banner Section */
